*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background: #bdc3c7;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
